/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.playerName
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:0.75em;text-align:center;font-family:verdana, sans-serif;line-height:1;
}

.playerNameTeam
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:1em;text-align:left;font-family:verdana, sans-serif;line-height:1;
}

.playerNameStatsHeader
{
    font-weight:bold;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:0.75em;text-align:center;font-family:verdana, sans-serif;line-height:1;vertical-align: middle;
}

.playerNameTeamStatsHeader
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:0.65em;text-align:center;font-family:verdana, sans-serif;line-height:1;vertical-align: middle;
}

.playerNameTeamNumbers
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:0.75em;text-align:center;font-family:verdana, sans-serif;line-height:1;vertical-align: middle;
}

.playerNameLiveTeamNumbers
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:1.10em;text-align:center;font-family:verdana, sans-serif;line-height:1;vertical-align: middle;
}

.leadersNumber
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:11px;text-align:center;font-family:Verdana, sans-serif;line-height:1;vertical-align: middle;
}

.leadersLiveNumber
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:10px;text-align:center;font-family:Verdana, sans-serif;line-height:1;vertical-align: middle;
}

.leadersScores
{
    font-weight:normal;color:#000000;letter-spacing:1pt;word-spacing:1pt;font-size:1.55em;text-align:center;font-family:Verdana, sans-serif;line-height:1;vertical-align: middle;
}

.leadersTitle
{
    font-weight:normal;color:#000000;letter-spacing:2pt;word-spacing:2.5pt;font-size:1.9em;text-align:left;font-family:Verdana, sans-serif;line-height:1;vertical-align: middle;
}

.searchTitle
{
    font-weight:normal;color:#000000;letter-spacing:2pt;word-spacing:2pt;font-size:12px;text-align:left;font-family:Verdana, sans-serif;line-height:1;vertical-align: middle;
}

.chartToggleFont {
    font-weight:normal;color:#000000;letter-spacing:2pt;word-spacing:2pt;font-size:12px;text-align:left;font-family:Verdana, sans-serif;line-height:1;vertical-align: middle;cursor:pointer;
}


tr.odd  {
   background-color: #e6ecff;
}
tr.even {
   background-color: #f6f6f6;
}

@-webkit-keyframes invalid {
    from { background-color: #FFDB58; }
    to { background-color: inherit; }
}
@-moz-keyframes invalid {
    from { background-color: #FFDB58; }
    to { background-color: inherit; }
}
@-o-keyframes invalid {
    from { background-color: #FFDB58; }
    to { background-color: inherit; }
}
@keyframes invalid {
    from { background-color: #FFDB58; }
    to { background-color: inherit; }
}
.invalid {
    -webkit-animation: invalid 2s infinite; /* Safari 4+ */
    -moz-animation:    invalid 2s infinite; /* Fx 5+ */
    -o-animation:      invalid 2s infinite; /* Opera 12+ */
    animation:         invalid 2s infinite; /* IE 10+ */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
